<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Dr. Diego García-Zamora</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2285%22 fill=%22%23576e30%22 font-family=%22serif%22>Φ</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
</head>
<body>
    <header>
        <div>
            <h1>Dr. Diego García-Zamora</h1>
            <p>Profesor Ayudante Doctor</p>
            <p><i class="fas fa-university"></i> Departamento de Matemáticas | Universidad de Jaén</p> 
        </div>
        <div style="border: 3px solid var(--accent-gold); border-radius: 50%; overflow: hidden; width: 120px; height: 120px;">
            <img src="/img/perfil.jpg" alt="Foto" style="width: 100%;">
        </div>
    </header>

    <nav>
        <a href="{{ '/' | relative_url }}">Inicio</a>
        <a href="{{ '/docencia' | relative_url }}">Docencia</a>
        <a href="{{ '/investigacion' | relative_url }}">Investigación</a>
        <a href="{{ '/divulgación' | relative_url }}">Divulgación</a>
    </nav>

    <div class="container">
        {{ content }}
    </div>

    <footer style="text-align: center; color: gray; padding: 20px;">
    <hr style="width: 80%; opacity: 0.3;">
    <p><i>"En matemáticas no entiendes las cosas. Simplemente te acostumbras a ellas."</i></p>
    <strong>John von Neumann</strong> 
</footer>
<script>
    // Función para mostrar/ocultar el cuadro
    function toggleBibtex(id) {
        var element = document.getElementById(id);
        if (element.style.display === "none") {
            element.style.display = "block";
        } else {
            element.style.display = "none";
        }
    }

    // Función para copiar al portapapeles
    function copyBibtex(preId, btn) {
        var text = document.getElementById(preId).innerText;
        navigator.clipboard.writeText(text).then(function() {
            var originalText = btn.innerText;
            btn.innerText = "¡Copiado!";
            setTimeout(function() {
                btn.innerText = originalText;
            }, 2000);
        });
    }
</script>
</body>
</html>